<footer class="footer">
  <div class="container">
    <div class="row g-4 py-4">
      <!-- Categorías -->
      <div class="col-6 col-md-4 col-lg-2">
        <h6 class="mb-4">Categories</h6>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link">Vegetables &amp; Fruits</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Baby care</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Bakery &amp; Biscuits</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Atta, rice &amp; dal</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Sauces &amp; spreads</a></li>
        </ul>
      </div>

      <!-- Get to know us -->
      <div class="col-6 col-md-4 col-lg-2">
        <h6 class="mb-4">Get to know us</h6>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link">Company</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">About</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Blog</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Help Center</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Our Value</a></li>
        </ul>
      </div>

      <!-- For Consumers -->
      <div class="col-6 col-md-4 col-lg-2">
        <h6 class="mb-4">For Consumers</h6>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link">Payments</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Shipping</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Product Returns</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">FAQ</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Shop Checkout</a></li>
        </ul>
      </div>

      <!-- Become a Shopper -->
      <div class="col-6 col-md-4 col-lg-2">
        <h6 class="mb-4">Become a Shopper</h6>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link">Shopper Opportunities</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Become a Shopper</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Earnings</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Ideas &amp; Guides</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">New Retailers</a></li>
        </ul>
      </div>

      <!-- Freshcart programs -->
      <div class="col-6 col-md-4 col-lg-2">
        <h6 class="mb-4">Freshcart programs</h6>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link">Freshcart programs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Gift Cards</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Promos &amp; Coupons</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Freshcart Ads</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link">Careers</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
